@font-face {
    font-family: JuliaMono-Regular;
    src: url("/assets/fonts/JuliaMono-Regular.woff2");
}
@font-face {
    font-family: JuliaMono-RegularItalic;
    src: url("/assets/fonts/JuliaMono-RegularItalic.woff2");
}
@font-face {
    font-family: JuliaMono-Bold;
    src: url("/assets/fonts/JuliaMono-Bold.woff2");
}
@font-face {
    font-family: JuliaMono-RegularItalic;
    src: url("/assets/fonts/JuliaMono-BoldItalic.woff2");
}
* { box-sizing:border-box }
body { font-size:16px;font-family:sans-serif;color:black;background-color:#F7F7F7; }
nav { position:fixed;display:inline;float:left;width:20rem;margin:0;padding:0 20px;margin-top:20px;margin-right:20px;background-color:#E0E0E0; } 
main { display:inline;float:left;width:auto;max-width:700px;margin:0;padding:0 20px;clear:both }
main { line-height:1.5em; }
main h1, main h2, main h3, main h4 { font-weight:normal;line-height:1.2em;margin-bottom:0.1em }
main h1 { margin-top:20px;font-size:1.4em; }
main h2 { margin-top:15px;font-size:1.3em; }
main h3 { margin-top:10px;font-size:1.2em; }
main h4 { margin-top:10px;font-size:1.1em; }
main a { text-decoration:underline } 
main a:hover, nav a:hover { background-color:#000;color:#fff } 

.leibniz {font-family:JuliaMono-Regular;color:#0000ff}
.leibniz i {font-family:JuliaMono-RegularItalic;color:#0000ff}
.leibniz .whiter, .leibniz i .whiter {color:#7777ff}
.leibniz .darker, .leibniz i .darker {color:#0000A0}

.leibniz-example {font-family:JuliaMono-Regular;color:#993300}
.leibniz-example i {font-family:JuliaMono-RegularItalic;color:#993300}
.leibniz-example .whiter, .leibniz-example i .whiter {color:#FF9900}
.leibniz-example .darker, .leibniz-example i .darker {color:#660000}

.leibniz-subcontext-name {border: 1px solid black;padding:1px;}
