@font-face {
    font-family: JuliaMono-Regular;
    src: url("../fonts/JuliaMono-Regular.woff2");
}
@font-face {
    font-family: JuliaMono-RegularItalic;
    src: url("../fonts/JuliaMono-RegularItalic.woff2");
}
@font-face {
    font-family: JuliaMono-Bold;
    src: url("../fonts/JuliaMono-Bold.woff2");
}
@font-face {
    font-family: JuliaMono-RegularItalic;
    src: url("../fonts/JuliaMono-BoldItalic.woff2");
}

* { box-sizing:border-box }
body { display:grid;grid-template-columns:100%;grid-column-gap: 0;grid-column-gap: 10px }
nav { margin:0;padding:0 20px;margin-top:20px;margin-right:20px } 
main { margin:0;padding:0 20px;clear:both }

@media screen and (min-width: 900px) {
  body {grid-template-columns: 20rem auto;grid-column-gap: 10px;grid-row-gap: 0}
  nav {grid-column:1}
  main {grid-column:2}
}

@media print {nav {display:none}}

body { font-size:16px;font-family:sans-serif;color:black;background-color:#F7F7F7; }
nav { background-color:#E0E0E0; } 
main { line-height:1.5em; }
main h1, main h2, main h3, main h4, main h5, main h6 { font-weight:normal;line-height:1.2em;margin-top:0.1em;margin-bottom:0.1em }
main h1 { margin-top:20px;font-size:1.6em; }
main h2 { margin-top:15px;font-size:1.5em; }
main h3 { margin-top:10px;font-size:1.4em; }
main h4 { margin-top:10px;font-size:1.3em; }
main h5 { margin-top:10px;font-size:1.2em }
main h6 { margin-top:10px;font-size:1.1em }
main a { text-decoration:underline } 
main a:hover, nav a:hover { background-color:#000;color:#fff } 

main pre {font-family:JuliaMono-Regular;font-size:0.8em}
.collapsed-annotation-view {display:none}

.nesting-level-2 {margin-left:1rem}
.nesting-level-3 {margin-left:2rem}
.nesting-level-4 {margin-left:3rem}
.nesting-level-5 {margin-left:4rem}

.leibniz {font-size:0.9em}
.leibniz {font-family:JuliaMono-Regular;color:#0000ff}
.leibniz i {font-family:JuliaMono-RegularItalic;color:#0000ff}
.leibniz .whiter, .leibniz i .whiter {color:#A3A3FF}
.leibniz .darker, .leibniz i .darker {color:#0000EB}

.leibniz-example {font-family:JuliaMono-Regular;color:#993300}
.leibniz-example i {font-family:JuliaMono-RegularItalic;color:#993300}
.leibniz-example .whiter, .leibniz-example i .whiter {color:#DBB6A3}
.leibniz-example .darker, .leibniz-example i .darker {color:#852C00}
.leibniz-example .computed, .leibniz-example i .computed {color:#008000}

.leibniz-subcontext-name {border: 1px solid black;padding:1px;color:#660099;font-size:0.7em}

.leibniz-bad-sort {text-decoration:underline;text-decoration-color:red;text-decoration-style:wavy}
